@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('../../node_modules/font-awesome/css/font-awesome.css');

body{
    background-color: rgb(218, 235, 235);
}
.container{
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px 10px #d5d5d5;
    margin: 40px 10%;
    border-radius: 10px;
    overflow-x: auto;
    background-color: #fff;
}

.container__icon--xmark {
    display: flex;
    justify-content: end;
}
.container__icon--xmark i{
    margin: 10px;
    display: flex;
}

.container__header{
    display:flex;
    justify-content: center;
}
.container__icons {
    display: flex;
    justify-content: end;
    padding: 0 3%;
}
i{
    color:#aed134;
    margin-left: 5px;
    margin-right: 5px;

}
.container__icons span{
    margin-right: 5px;
}

.container__table {
    padding: 0 3%;


}
.container__table table{
    min-width: 900px;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    overflow-x: auto;

}
.container__table th{
    color: #9da8a9;
    text-align: left;
    padding-left:    15px;
    border-bottom: 1px solid #efefef;
}

.container__table tr{
    width: 100%;
    border-bottom: 1px solid #b2b5b5;

}
.gray{
    color: #6b7273;
}
.red{
    color: #e02537;
}
.container__table td{
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #e9eded;
}

tr:nth-child(odd) {
    background-color: #fff;
}
.container__table .table__tr--content:hover {
    background-color: #e8e8e8;
}
@media (max-width: 768px) {
    .container__table table {
        width: 100%;
        margin: 0;
    }
}
